.box{
    height:350px;
    width: 550px;
    display: flex;
    flex-direction: column;
    position:relative;
    margin-left: 35%;
}



/*Frame1*/

@media screen and (min-width:1200px){

    .box1{
        background-color:#45bc94;
        border-radius: 20px;
        border-radius: 25px;
    }  
        
    h1{
            margin-left:55px;
        
    }
        
    .box1 p{
            margin-left: 40%;
            font-weight: 700;
    }

    .box2,.box3,.box4,.box5{
        display: none;
        
    } 
 


}

  

/*Frame 2 */
    
@media screen and (min-width:1050px) and (max-width:1200px){
    
.box2{
    background-color: #008000;
    border-radius: 20px;
    border-radius: 25px;
}


.box2 h1{
    margin: left 45px;

}

.box2 p{
    margin-left: 40%;
    font-weight: 700;
}

.box1,.box3,.box4,.box5{
    display: none;
    
}

}


/*Frame 3 */

@media screen and (min-width:800px) and (max-width:1050px){
     .box3{
        background-color: #b8860b;
        border-radius: 20px;
        border-radius: 25px;
        height: 300px;
        width: 500px;
        font-size: 15px;
        font-weight: 800;
        margin-right: 200px;
    }

    .box3 h1{
        margin-left:55px;

    }

    .box3 p{
        margin-left: 40%;
        font-weight: 700;
    }
   
.box1,.box2,.box4,.box5{
    display: none;
    
    }
}

/*Frame 4 */
@media screen and (min-width:600px) and (max-width:800px){
    .box4{
        background-color:#00ffff;
        border-radius: 20px;
        border-radius: 25px;
        height: 250px;
        width: 300px;
    }   

    .box4 h1{
        margin-left:55px;

    }

    .box4 p{
        margin-left: 40%;
        font-weight: 700;
    }
    
    .box1,.box3,.box2,.box5{
                display: none;    
    }   
}

 
/*Frame 5 */
@media screen and (max-width:600px){
    .box5{
        background-color:#8b0000;
        border-radius: 20px; 
        border-radius: 25px;
       height: 200px;
       width: 200px;
        font-size:10px;
        
    }
       
    .box5 h1{
        margin-left:55px;


    }

    .box5 p{
        margin-left: 40%;
        font-weight: 700;
    }
    .box1,.box3,.box4,.box2{
    display: none;
    
    }

    
}
